#logo{
	font-family: 'Oswald', sans-serif;	
	position: relative;
	.navbar-brand{
		font-size: 50px;	
		font-weight: bold;	
		float: none;
		height: auto;
		display: inline-block;
		line-height: 1em;
		padding: 15px;
		padding-bottom: 0;
		text-transform: uppercase;
		margin: 0;
	}
	.sub-title{
		padding: 0 15px;
		line-height: 2em;
	}
}

.navbar-header{
	float: none;
}
.navbar-toggle{
	z-index: 10;
}
.navbar-nav{
	font-family: 'Oswald', sans-serif;	
	font-size: 16px;
	text-transform: uppercase;
}
.navbar-nav > li > a{
	padding-top: 5px;
	padding-bottom: 5px;
}
.nav.navbar-nav{
	float: left;
}
.navbar > .container .navbar-brand {
  color: $color-blue;
}
.navbar-default .navbar-nav > li > a{
	color: #FFF;
}

#menu-main{
	background-color: #000;
	width: 100%;
}